*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/keystore.properties
/keystores/
/*.txt
/*.md
!/AQUITECTURA.md
!/AUDITORIA_Y_PLAN_DE_MEJORAS.md
!/POSIBLES_OFFSETS.md
!/PROGRESS.md
!/Ghost.txt
!/Fake.txt
!/Teleport.txt
/*.cs
/*.log
/*.apk
/.kotlin/
/publicApp/build/
